body {
	color: #fbff00;
	background: #000000;
}

a {
	background: #ffffff;
	color: #000000;
	border-radius: 10px;
}

h1, h2, h3, p {
	padding-bottom: 20px;
	text-align: center;
}

li {
	color: aqua;
	background: red;
}